* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: monospace;
  font-size: 16px;
  text-align: center;
  line-height: 1.5;
  color: #f5ffb3;
  background: none;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Neon gradient background */
  background: rgb(32, 32, 32);
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 24px;
  letter-spacing: 2px;
}

h2 {
  font-size: 1.7rem;
  margin-bottom: 16px;
}

button {
  padding: 12px 28px;
  font-size: 1.1rem;
  background: #23234a;
  color: #00f2fe;
  border: none;
  border-radius: 16px;
  margin: 8px;
  outline: none;
  font-weight: bold;
  letter-spacing: 1px;
}
button:hover {
  background-color: rgb(31, 30, 30);
}
